/* обнуление стилей */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 14px;
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* links */

a {
	display: block;
	color: #fff;
}

a:visited {
	color: #fff;
}
a:hover {
	color: #fff;
}

/* fonts */

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('fonts/ProximaNova-Bold.eot');
	src: local('fonts/Proxima Nova Bold'), local('fonts/ProximaNova-Bold'),
	url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/ProximaNova-Bold.woff') format('woff'),
	url('fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('fonts/ProximaNova-Regular.eot');
	src: local('fonts/Proxima Nova Regular'), local('fonts/ProximaNova-Regular'),
	url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/ProximaNova-Regular.woff') format('woff'),
	url('fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('fonts/ProximaNova-Semibold.eot');
	src: local('fonts/Proxima Nova Semibold'), local('fonts/ProximaNova-Semibold'),
	url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('fonts/ProximaNova-Semibold.woff') format('woff'),
	url('fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('fonts/ProximaNova-Light.eot');
	src: local('fonts/Proxima Nova Light'), local('fonts/ProximaNova-Light'),
	url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url('fonts/ProximaNova-Light.woff') format('woff'),
	url('fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* root */

:root {
	--base-color: #5E42B0;
	--white-color: #fff;
	--header-color: #e7e7e7;
	--black-color: #000;
 }

/* container */

.container {
	max-width: 1532px;
	margin: 0 auto;
}

/* intro */

.intro {
	min-height: 100vh;
	padding: 0 7%;
	background-image: linear-gradient(180deg, rgba(10,14,52,0.9), rgba(10,14,52,0.9)), url("images/header/back.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-blend-mode: normal;
	background-repeat: no-repeat;
	background-position: center;
}

.intro__wrapper {
	padding-top: 50px;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
}

.intro__logo {
	display: block;
	max-width: 100%;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.intro__toptext {
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	color: var(--white-color);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: right;
	margin-left: 15px;
}

.intro__header {
	margin-top: 19vmin;
}

.intro__text1 {
	font-family: 'Proxima Nova Bold';
	font-size: 90px;
	color: var(--white-color);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: left;
	display: block;
}

.intro__text2 {
	font-family: 'Proxima Nova Bold';
	font-size: 90px;
	color: var(--white-color);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: right;
	display: block;
}

.no_wrap {
	white-space: nowrap;
}

.intro__subtext_wrapper {
	margin-top: 20px;
	margin-left: auto;
	display: block;
	max-width: 500px;
	text-align: center;
}

.intro__subtext_item {
	display: inline-block;
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	color: #9071ea;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding-right: 25px;
	white-space: nowrap;
}

.intro__subtext_item:last-child {
	padding-right: 6px;
}

.market {
	display: flex;
	justify-content: space-between;
	width: 672px;
	margin: 0 auto;
	margin-top: 15vh;
}

.market__ios {
	border-radius: 38px;
	background: var(--base-color) url(images/header/IconApple.png) 43px center/33px 37px no-repeat;
	box-shadow: 8px 13.8px 24px 0px rgb(10,14,52);
	width: 311px;
	height: 77px;
	margin-bottom: 5vw;
}

.market__android {
	border-radius: 38px;
	background: var(--base-color) url(images/header/IconGooglePlay.png) 64px center/36px 39px no-repeat;
	box-shadow: 8px 13.8px 24px 0px rgb(10,14,52);
	width: 311px;
	height: 77px;
}

.market__ios_text {
	text-decoration: none;
	letter-spacing: 0.05em;
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	line-height: 1.15em;
	text-transform: uppercase;
	color: var(--white-color);
	margin: 23px 0 0 105px;
	display: block;
}

.market__android_text {
	text-decoration: none;
	letter-spacing: 0.05em;
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	line-height: 1.15em;
	text-transform: uppercase;
	color: var(--white-color);
	margin: 23px 0 0 126px;
	display: block;
}

.market__semibold {
	font-family: 'Proxima Nova Semibold';
}

/* athlet */

.section_container {
	position: relative;
}

.footballer img {
	object-fit: contain;
	margin-top: 2.2072vw;
	margin-left: 10vw;
	position: absolute;
	z-index: 5;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.athlets__header {
	margin-left: 50vw;
	padding-top: 6.1%;
	margin-bottom: 3.645vw;
	word-wrap: break-word;
}

@media (max-width: 840px) {
	.athlets__header .headertext {
		font-size: 10.714vw;
	}
}

.headertext {
	color: var(--header-color);
	font-family: 'Proxima Nova Bold';
	font-size: 90px;
	text-transform: uppercase;
	line-height: 70px;
}

.athlets__container {}

.athlets__item {
	width: 100%;
}

.athlets__item:nth-child(1) {
	padding: 3.25vw 13vw 3.25vw 50vw;
	background: none;
	min-height: 202px;
}

.athlets__item:nth-child(2) {
	padding: 3.18vw 16vw 3.18vw 50vw;
	background-color: #f6f4fa;
	min-height: 257px;
}

.athlets__item:nth-child(3) {
	padding: 4.66vw 15vw 4.66vw 50vw;
	background-color: var(--base-color);
	min-height: 297px;
}

@media (max-width: 1650px) {
	.footballer img {
		margin-top: 5vw;
		margin-left: 0;
		left: calc(50% - 630px);
	}

	.athlets__item:nth-child(1) {
		padding: 3.25vw 10.5vw 3.25vw 50vw;
	}

	.athlets__item:nth-child(2) {
		padding: 3.18vw 1.6vw 3.18vw 50vw;
	}
}

.number, .number2 {
	display: inline-block;
	color: var(--black-color);
	font-family: 'Proxima Nova Bold';
	font-size: 18px;
	vertical-align: top;
	line-height: 1;
	letter-spacing: 0.05em;
	margin-right: 8px;
}

.number3 {
	display: inline-block;
	color: #9173e6;
	font-family: 'Proxima Nova Bold';
	font-size: 18px;
	vertical-align: top;
	line-height: 1;
	letter-spacing: 0.05em;
	margin-right: 8px;
}

.number:after {
	content: "";
	display: block;
	width: 50px;
	height: 5px;
	border-radius: 3px;
	margin-top: 0.39vw;
	width: 100%;
	background-color: var(--base-color);
}

.number2:after {
	content: "";
	display: block;
	width: 50px;
	height: 5px;
	border-radius: 3px;
	margin-top: 0.39vw;
	width: 100%;
	background-color: #efefef;
}

.number3:after {
	content: "";
	display: block;
	width: 50px;
	height: 5px;
	border-radius: 3px;
	margin-top: 0.39vw;
	width: 100%;
	background-color: #efefef;
}

.header {
	display: inline-block;
	color: #c1c1c1;
	font-family: 'Proxima Nova Bold';
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 0.85;
}

.paragraph {
	color: var(--black-color);
	font-family: 'Proxima Nova Regular';
	font-size: 20px;
	margin-top: 22px;
	line-height: 28px;
	letter-spacing: 0.05em;
}

.paragraph3 {
	line-height: 34.49px;
	letter-spacing: 0.05em;
	color: var(--white-color);
}

/* players */

.players {
	position: relative;
}

.basketball img {
	object-fit: contain;
	margin-left: 40%;
	margin-top: -25px;
	position: absolute;
	z-index: 5;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.players__header {
	margin-left: 14vw;
	padding-top: 6.1%;
	margin-bottom: 3.645vw;
	word-wrap: break-word;
}

@media (max-width: 840px) {
	.players__header .headertext {
		font-size: 10.714vw;
	}
}

.players__container {}

.players__item {
	padding: 3.7vw 45vw 3.7vw 14.474vw;
	width: 100%;
}

.players__item:nth-child(1) {
	background: none;
	min-height: 247px;
}

.players__item:nth-child(2) {
	background-color: #f5f6f7;
	max-height: 247px;
}

.players__item:nth-child(3) {
	padding: 5vw 50vw 5vw 14.474vw;
	background-color: #0a0e34;
	max-height: 268px;
}

@media (max-width: 1170px) {
	.basketball img {
		max-width: 80%;
		margin-left: 0;
		top: 2vw;
		left: calc(50%);
	}

	.players__item {
		padding: 3.7vw 37vw 3.7vw 14.474vw;
	}
}

/* be active */

.cards_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.cards_container__opposite_site {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.cards__side_image {
	width: 50%;
	max-width: 50%;
	max-height: 730px;
}

.cards__img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 730px;
}

.cards__side_text {
	padding-left: 12vmin;
	width: 50%;
	max-width: 50%;
}

.cards__opposite_side_text {
	padding-left: 3vw;
	width: 50%;
	max-width: 50%;
}

.cards__header_container {
	margin-top: 36%;
}

.left__cards__header_container {
	margin-top: 32%;
}

.cards__paragraph_container {
	margin-top: 14.7%;
}

.cards__paragraph_container3 {
	margin-top: 10%;
}

.cards__paragraph {
	color: var(--black-color);
	font-family: 'Proxima Nova Regular';
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.05em;
	padding-right: 20%;
}

.cards__paragraph3 {
	color: var(--black-color);
	font-family: 'Proxima Nova Regular';
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.05em;
	padding-right: 27%;
}

.cards__header {
	display: inline;
	color: var(--header-color);
	font-family: 'Proxima Nova Bold';
	font-size: 90px;
	text-transform: uppercase;
	line-height: 60px;
	white-space: wrap;
}

@media (max-width: 1230px) {
	.cards__header {
		font-size: 6.8vw;
	}
}

.cards__underline {
	max-width: 22px;
	height: 5px;
	border-radius: 3px;
	margin-top: 5vw;
	margin-bottom: 5vw;
	width: 100%;
	background-color: var(--base-color);
}

.cards__sticker {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}

.cards__sticker_container {
	position: absolute;
	background-color: var(--base-color);
	width: 168px;
	height: 155px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 13vw;
}

.cards__sticker_number {
	display: inline-block;
	color: #f5f6f7;
	font-family: 'Proxima Nova Bold';
	font-size: 18px;
	line-height: 1;
	letter-spacing: 0.05em;
}

.cards__sticker_number:after {
	content: "";
	display: block;
	width: 50px;
	height: 5px;
	border-radius: 3px;
	margin-top: 0.39vw;
	width: 100%;
	background-color: #8f7bc8;
}

/* footer */

.footer {
	width: 100%;
	background-image: linear-gradient(180deg, rgba(10,14,52,0.9), rgba(10,14,52,0.9)), url("images/footer/bg.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-blend-mode: normal;
	background-repeat: no-repeat;
	background-position: center;
}

.footer__container {
	width: 100%;
	max-width: 100%;
}

.footer__row {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 9.6%;
	padding-right: 50px;
	padding-left: 50px;
}

.footer__icon {
	padding-right: 33px;
	padding-left: 70px;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.footer__title {
	text-transform: uppercase;
	color: var(--white-color);
	font-size: 90px;
	font-family: "Proxima Nova Bold";
	line-height: 85px;
	letter-spacing: 0.05em;
}

.footer__subtitle {
	display: block;
	text-transform: uppercase;
	color: #a496ca;
	font-size: 36px;
	font-family: "Proxima Nova Bold";
	line-height: 34.49px;
}

.footer__market {
	display: flex;
	justify-content: space-between;
	width: 672px;
	margin: 0 auto;
	margin-top: 8.2%;
}

.footer__market__ios {
	border-radius: 38px;
	background: var(--base-color) url(images/header/IconApple.png) 43px center/33px 37px no-repeat;
	box-shadow: 8px 13.8px 24px 0px rgb(10,14,52);
	width: 311px;
	height: 77px;
	margin-bottom: 5vw;
}

.footer__market__android {
	border-radius: 38px;
	background: var(--base-color) url(images/header/IconGooglePlay.png) 64px center/36px 39px no-repeat;
	box-shadow: 8px 13.8px 24px 0px rgb(10,14,52);
	width: 311px;
	height: 77px;
}

.footer__market__text__ios {
	text-decoration: none;
	letter-spacing: 0.05em;
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	line-height: 1.15em;
	text-transform: uppercase;
	color: var(--white-color);
	margin: 23px 0 0 105px;
	display: block;
}

.footer__market__text__android {
	text-decoration: none;
	letter-spacing: 0.05em;
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	line-height: 1.15em;
	text-transform: uppercase;
	color: var(--white-color);
	margin: 23px 0 0 126px;
	display: block;
}

.footer__contacts {
	margin-top: 6vw;
	padding-right: 50px;
	padding-left: 50px;
	position: relative;
	background-color: rgba(10,14,52,.6);
}

.footer__contacts_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.footer__logo {
	display: inline-block;
	max-width: 100%;
	margin-top: 3vw;
	margin-bottom: 3vw;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.inline {
	display: inline;
}

.footer__links {
	color: var(--white-color);
	font-size: 20px;
	font-family: 'Proxima Nova Regular';
	letter-spacing: 0.05em;
	margin-top: 3vw;
	margin-bottom: 3vw;
}

.footer__links a:hover {
	text-decoration: underline;
}

.footer__social {
	position: absolute;
	left: 50%;
	margin-left: -70px;
	top: 42%;
}

.fab {
	font-size: 27px;
	color: var(--white-color);
	margin-right: 35px;
}

.fab:last-child {
	margin-right: 0;
}

/* 1920 */

@media (max-width: 1278px) {
	.intro__header {
		margin-top: 5vh;
	}

	.market {
		margin-top: 11vh;
		padding-bottom: 8vh;
	}
}

@media (max-width: 945px) {
	.footer__social {
		position: static;
		margin-left: 0;
		text-align: center;
		margin-top: 4vw;
		margin-bottom: 4vw;
	}

	.fab {
		margin-left: 1.6vw;
		margin-right: 1.6vw;
	}

	.fab:last-child {
		padding-right: 0;
	}
}

@media (max-width: 817px) {
	.intro__text1 {
		font-family: 'Proxima Nova Bold';
		font-size: 11vw;
		color: var(--white-color);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		text-align: left;
		display: block;
		white-space: nowrap;
	}

	.intro__text2 {
		font-family: 'Proxima Nova Bold';
		font-size: 11vw;
		color: var(--white-color);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		text-align: right;
		display: block;
	}

	.intro__wrapper {
		padding-top: 7.3%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.intro__header {
		margin-top: 5vh;
	}

	.footer__title {
		font-size: 11.015vw;
	}

	.footer__market {
		margin: 0 auto;
		margin-top: 8%;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

/* 768 */

@media (max-width: 768px) {

/* intro */

	.intro {
		padding: 0 20px;
	}

	.intro__wrapper {
		padding-top: 4vh;
	}
	
	.intro__header {
		margin: 0 auto;
		margin-top: 6vh;
		width: 80vw;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.intro__text1 {
		padding-left: 2vw;
		font-size: 64px;
		text-align: left;
		width: 70vw;
		font-size: 8.333334vw;
	}

	.intro__text2_container {
		width: 80vw;
	}
	
	.intro__text2 {
		padding-left: 16.2vw;
		font-size: 64px;
		text-align: left;
		text-align: left;
		font-size: 8.333334vw;
	}

	.no_wrap {
		white-space: normal;
	}

	.intro__subtext_wrapper {
		padding: 0 30px;
		margin-top: 4vh;
		margin-left: 0;
		width: 100vw;
		max-width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.intro__subtext_item {
		font-size: calc(5px + 2vh);
		padding-right: 0;
		margin: 0 165px;
		margin-bottom: 1.5vh;
		text-align: center;
	}
	
	.intro__subtext_item:last-child {
		padding-right: 0;
		margin-bottom: 0;
		margin: 0 165px;
		text-align: center;
	}

	.market {
		margin: 0 auto;
		margin-top: 4vh;
		padding-bottom: 0;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.market__ios {
		max-width: 100%;
		margin-bottom: 4vh;
		height: 10vh;
		max-height: 77px;
		display: flex;
		align-items: center;
	}

	.market__android {
		margin-bottom: 5vh;
		max-width: 100%;
		height: 10vh;
		max-height: 77px;
		display: flex;
		align-items: center;
	}

	.market__ios_text {
		margin: 0 0 0 105px;
	}
	
	.market__android_text {
		margin: 0 0 0 126px;
	}

/* athlets */

	.footballer img {
		max-width: 56%;
		max-height: none;
		left: -21%;
		top: 11%;
		margin-top: 0;
		margin-left: 0;
	}

	.athlets__header {
		margin-left: 38vw;
		padding-top: 9vw;
		margin-bottom: 3.645vw;
		word-wrap: break-word;
	}

	.headertext {
		font-size: 11.718vw;
		line-height: normal;
	}

	.header {
		font-size: 4.687vw;

	}

	.paragraph {
		font-size: 2.604vw;
		line-height: normal;
		margin-top: 2.864vw;
	}

	.number, .number2, .number3 {
		font-size: 2.343vw;
		margin-right: 1.041vw;
	}

	.athlets__item:nth-child(1) {
		padding: 3.25vw 5vw 3.25vw 39vw;
		background: none;
		min-height: 0;
	}
	
	.athlets__item:nth-child(2) {
		padding: 3.18vw 5vw 3.18vw 39vw;
		background-color: #f6f4fa;
		min-height: 0px;
	}
	
	.athlets__item:nth-child(3) {
		padding: 4.66vw 5vw 4.66vw 39vw;
		background-color: var(--base-color);
		min-height: 0px;
	}

/* players */

	.basketball {
		position: relative;
	}

	.basketball img {
		max-width: 88%;
		right: -32%;
		left: auto;
		margin-top: 6vw;
		margin-left: 0;
	}

	.players__header {
		margin-left: 5%;
		padding-top: 10.5%;
		margin-bottom: 0;
		word-wrap: break-word;
	}
	
	.players__item {
		padding: 5.5% 22% 3.7% 5%;
		width: 100%;
	}
	
	.players__item:nth-child(1) {
		background: none;
		min-height: 0px;
	}
	
	.players__item:nth-child(2) {
		padding: 5.5% 22% 3.7% 5%;
		background-color: #f5f6f7;
		max-height: 247px;
	}
	
	.players__item:nth-child(3) {
		padding: 5% 34% 5% 5%;
		background-color: #0a0e34;
		max-height: 268px;
	}

/* cards */

.cards_container {
	justify-content: flex-start;
	flex-direction: column;
	position: relative;
}

.cards_container__opposite_site {
	justify-content: flex-start;
	flex-direction: column-reverse;
	position: relative;
}

.cards__side_image {
	width: 100%;
	max-width: 100%;
}

.cards__side_text {
	padding-left: 4vw;
	padding-right: 4vw;
	width: 100%;
	max-width: 100%;
}

.cards__opposite_side_text {
	padding-left: 4vw;
	padding-right: 4vw;
	width: 100%;
	max-width: 100%;
}

.cards__header_container {
	margin-top: 12%;
}

.left__cards__header_container {
	margin-top: 12%;
}

.cards__header {
	font-size: 11.718vw;
	line-height: 60px;
	white-space: wrap;
}

.cards__paragraph_container {
	margin-top: 5%;
}

.cards__paragraph_container3 {
	margin-top: 5%;
}

.cards__paragraph {
	font-size: 3.125vw;
	padding-right: 0;
	line-height: 4vw;
}

.cards__paragraph3 {
	font-size: 3.125vw;
	padding-right: 27%;
	line-height: 4vw;
}

.cards__underline {
	margin-top: 5vw;
	margin-bottom: 9vw;
}

.cards__sticker {
	position: static;
	display: block;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	z-index: 5;
}

.cards__sticker_container {
	width: 15.104vw;
	height: 15.104vw;
	left: 4vw;
	top: 64vw;
}

.cards__sticker_container__fix {
	top: 55vw;
}

.cards__sticker_number {
	font-size: 24px;
}

/* footer */

	.footer__row {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-top: 15vw;
		padding-right: 50px;
		padding-left: 50px;
	}

	.footer__icon {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 7vw;
	}
	
	.footer__title {
		display: block;
		font-size: 9.5vw;
		line-height: normal;
		margin-bottom: 3vw;
	}

	.footer__subtitle {
		font-size: 3.8vw;
		line-height: 20px;
	}

	.footer__market {
		margin: 0 auto;
		margin-top: 4vh;
		padding-bottom: 0;
		padding: 0 7%;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.footer__market__ios {
		max-width: 100%;
		margin-bottom: 4vh;
		height: 10vh;
		max-height: 77px;
		display: flex;
		align-items: center;
	}
	
	.footer__market__android {
		margin-bottom: 5vh;
		max-width: 100%;
		height: 10vh;
		max-height: 77px;
		display: flex;
		align-items: center;
	}
	
	.footer__market__text__ios {
		margin: 0 0 0 105px;
	}
	
	.footer__market__text__android {
		margin: 0 0 0 126px;
	}

	.footer__contacts {
		margin-top: 3vw;
	}

	.footer__contacts {
		padding-right: 50px;
		padding-left: 50px;
		position: relative;
		background-color: rgba(10,14,52,.6);
	}
	
	.footer__contacts_wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.footer__links, .footer__logo {
		display: none;
	}

	.footer__social {
		position: relative;
		margin-left: 0px;
		left: 0;
		top: 0;
		margin: 0 auto;
		margin-top: 4vw;
		margin-bottom: 4vw;
	}

	.fab {
		font-size: 27px;
		color: var(--white-color);
		margin-right: 30px;
	}
}